* {
  margin: 0px;
  padding: 0px;
  color: whitesmoke;
  text-align: justify;
}

body {
  background-color: #18113b;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  padding-left: 30px;
  background-color: #100e26;
  height: 70px;
  margin-top: 0px;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 li a {
  color: white;
  padding-left: 20pt;
  font-size: 20px;
}

nav.navbar {
  padding: 0;
  margin: 0;
  color: white;
}

.indeximg {
  height: 100%;
  float: right;
  display: flex;
  position: relative;
  right: -200px;
}

.homebg {
  display: flex;
  height: 100%;
  width: auto;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.explanation {
  line-height: 2;
  padding-left: 50px;
  width: 100%;
  padding-top: 30px;
}

.paragraph1 {
  right: 10px;
  width: 100%;
}

.checkbox-form {
  padding-left: 150px;
  padding-top: 40px;
}

.form-check {
  margin-bottom: 20px;
}

.main {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px solid #ccc;
  padding: 2rem;
}
select[name='viewport'] {
  color: #000;
  display: block;
}
select[name='viewport'] option {
  color: black;
}
textarea {
  resize: horizontal;
}
button {
  display: block;
  padding: 1rem 3rem;
  color: black;
  font-weight: bold;
  background: #ccc;
}
